.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;

  &::after {
    content: '';
    //display: table;
    clear: both;
  }
}

.row {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
    grow: 0;
    shrink: 0;
    basis: auto;
  }

  margin: {
    right: -1rem;
    left: -1rem;
  }

  &::after {
    content: '';
    //display: table;
    clear: both;
  }
}

.grids {
  padding: 0 1rem;
  flex: {
    grow: 0;
    shrink: 0;
    direction: column;
  }
}
