@import '../main';

.page-thank-you {
  background: get-color('mine-shaft');
  color: get-color('tundora');

  .overlay {
    min-width: 100vw; min-height: 100vh;
  }

  .message-container {
    position: absolute;
    width: 90%;
    top: 30%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: .5rem;

    @include respond-to(md) {
      width: 40%;
    }
  }

  .message__headline {
    color: get-color('tundora');
  }

  .link {
    color: get-color('persian-green');

    &:hover {
      color: get-color('robin-s-egg-blue');
    }
  }
}
