$columns: 12;
$breakpoints: (
  'xs': (min-width: 36em), // 576px
  'sm': (min-width: 48em), // 768px
  'md': (min-width: 62em), // 992px
  'lg': (min-width: 75em), // 1200px
  'xl': (min-width: 81.25rem), // 1300px
);
$max-width: 68em; // 1088px
$site-max-width: 80em;  // 1280px

$color-white: #FFF;
$color-black: #000;
$color-gallery: #EEEEEE;
$color-mirage: #151426;
$color-port-gore: #231B40;
$color-persian-indigo: #31188C;
$color-electric-violet: #7338F2;
$color-chantilly: #F2ACE0;
$color-carnation: #F25D50;

$base-font-face: 'BrownPro', sans-serif;
$base-font-size: 1.7rem;
$base-line-height: 150%;
$base-color: $color-mirage;

$font--consolas: 'Consolas', sans-serif;

$colors: (
  'white': $color-white,
  'black': $color-black,
  'gallery': $color-gallery,
  'mirage': $color-mirage,
  'port-gore': $color-port-gore,
  'persian-indigo': $color-persian-indigo,
  'electric-violet': $color-electric-violet,
  'chantilly': $color-chantilly,
  'carnation': $color-carnation
);
