@import 'styles/abstracts/variables';

*, *:before, *:after, html {
  box-sizing: border-box;
}

html, body {
  -webkit-overflow-scrolling: touch;
  font-size: 62.5%;
}

body {
  color: $base-color;
  font-family: $base-font-face;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //overflow-x: hidden;
  font-weight: normal;
}

#site-content {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;

  &::after {
    content: '';
    //display: table;
    clear: both;
  }
}

.row {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
    grow: 0;
    shrink: 0;
    //basis: auto;
  }
  margin: {
    right: -1rem;
    left: -1rem;
  }

  &::after {
    content: '';
    //display: table;
    clear: both;
  }
}

.grids {
  padding: 0 1rem;
  flex: {
    grow: 0;
    shrink: 0;
    direction: column;
  }
}
