*, *:before, *:after, html {
  box-sizing: border-box;
}

html,body {
  -webkit-overflow-scrolling : touch;
}

body {
  color: $base-color;
  font-family: $base-font-face;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-weight: 300;
}

table, th, td {
  border-collapse: collapse;
  margin-bottom: 1rem;

  th, td {
    //border: 1px solid get-color('don-juan');
    padding: .5rem;
  }

  th {
    //background: get-color('don-juan');
    color: get-color('white');
  }

  tr:nth-child(even) {
    //background: get-color('gallery');
  }
}

ul,ol {
  margin-bottom: 1rem;

  li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: .6rem; left: 1rem;
      transform: translate(-50%, 0);
      width: .4rem; height: .4rem;
      background: get-color('shalimar');
      border-radius: 50%;
    }
  }
}

.site {
  background: get-color('black');
}

.site__inner {
  max-width: 90em;
  margin: 0 auto;
}

.site-content {
  @extend .bg--mine-shaft;
  min-height: 100vh;
  margin-top: 3rem;
  padding-bottom: 4rem;

  @include respond-to(md) {
    margin-top: 0;
    margin-left: calc(11rem + 1rem);
  }
}

.section {
  padding: 1.5rem 0;
  position: relative;

  @include respond-to(md) {
    padding: 2rem 0;
  }
}

.section__title {
  @include grid-get(12);
}

.section__content {
  @include grid-get(12);

  @include respond-to(md) {
    @include grid-get(10);
    @include grid-push(1);
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;

  &::after {
    content: '';
    //display: table;
    clear: both;
  }
}

.row {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
    grow: 0;
    shrink: 0;
    basis: auto;
  }

  margin: {
    right: -1rem;
    left: -1rem;
  }

  &::after {
    content: '';
    //display: table;
    clear: both;
  }
}

.grids {
  padding: 0 1rem;
  flex: {
    grow: 0;
    shrink: 0;
    direction: column;
  }
}

//.page-loading {
//  position: fixed;
//  top: 0; right: 0; bottom: 0; left: 0;
//  z-index: 10;
//  background: get-color('spring-wood');
//
//  #pulse {
//    position: absolute;
//    top: 50%; left: 50%;
//    transform: translate(-50%, -50%);
//    width: 100%;
//    max-width: 37.5rem;
//
//    @include respond-to(md) {
//      top: 30%;
//    }
//
//    polyline {
//      shape-rendering: geometricPrecision;
//      stroke-linejoin: round;
//      stroke-dasharray: 900;
//      animation: march 10s linear infinite;
//    }
//  }
//}

form {
  .form-group {
    margin-bottom: 1rem;
  }

  ::placeholder {
    color: get-color('dusty-gray');
    font-style: italic;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
  }

  input, textarea {
    font-size: 1rem;
    font-family: $font--consolas;
    color: get-color('wild-sand');
    background: get-color('emperor');
    padding: .5rem;
    border: none;
    resize: none;
    width: 100%;

    &:focus {
      background: get-color('dove-gray');
    }
  }

  textarea {
    height: 9rem;
  }

  [type="submit"] {
    padding: .5rem 5rem;
    border: .1rem solid get-color('picton-blue');
    color: get-color('white');

    &:hover {
      @include respond-to(md) {
        background: get-color('picton-blue');
      }
    }
  }
}
