.cl-- {
  &white {
    color: get-color('white');
  }

  &silver {
    color: get-color('silver');
  }

  &blizzard-blue {
    color: get-color('blizzard-blue');
  }

  &wild-sand {
    color: get-color('wild-sand');
  }
}
