@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';
@import 'styles/abstracts/functions';

h1, h2, h3, h4, h5, h6 {
  line-height: 130%;
  color: get-color('port-gore');
}

h1, h2, h3 {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  display: inline-block;
  transition: all 400ms ease-in-out;
  color: get-color('persian-indigo');
  cursor: pointer;

  &:hover {
    color: get-color('electric-violet');
  }
}

ul, ol {
  margin-bottom: 1rem;

  li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 1rem;
      left: 1rem;
      transform: translate(-50%, 0);
      width: .5rem;
      height: .5rem;
      background: get-color('persian-indigo');
      border-radius: 50%;
    }
  }
}

.headline {
  text-transform: capitalize;
  display: inline-block;
  color: get-color('port-gore');
  border-bottom: .2rem solid get-color('persian-indigo');
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}
